* {
    margin: 0;
    padding: 0;
}

nav{
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    background: color #999;
}
h1{
    color: #f11414;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.8px;
    text-transform: uppercase;



}

.accent{
    color: #EAAB0A;
}

.subtitle{
    display: block;
    margin-top: -5px;
    color: black;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0em;
    text-transform: uppercase;
}

ul{
    display: flex;
    list-style: none;
    height: 50px;
    align-items: center;
}